<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <context-param>
    <param-name>Driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:ORCL</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>c##oracle11am</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>nareshit</param-value>
  </context-param>
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>login.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet</display-name>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>login.WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setCookies</display-name>
    <servlet-name>setCookies</servlet-name>
    <servlet-class>login.setCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setCookies</servlet-name>
    <url-pattern>/Cookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetCookies</display-name>
    <servlet-name>SetCookies</servlet-name>
    <servlet-class>login.SetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetCookies</servlet-name>
    <url-pattern>/SetCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Setcookies</display-name>
    <servlet-name>Setcookies</servlet-name>
    <servlet-class>login.Setcookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Setcookies</servlet-name>
    <url-pattern>/Setcookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookies</display-name>
    <servlet-name>GetCookies</servlet-name>
    <servlet-class>login.GetCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookies</servlet-name>
    <url-pattern>/GetCookies</url-pattern>
  </servlet-mapping>
</web-app>